.hourlyContainer {
  width: 90%; 
  white-space: nowrap; /* Prevent wrapping of items */
  position: relative; 

  background: rgba(16, 16, 16, 0.1);
  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
}

.hourlyList {
  overflow-x: overlay;
  display: flex;
}

.hourlyItem {
  height: auto;
  border-radius: 5px;
}

.icon {
  height: auto;
}

.img-hf {
    text-align: center;
    justify-content: center;
    align-content: center;
      width: 5em;
      height: auto;
}

.hourlyTitle {
  position: sticky; 
  top: 0; /* Stick to the top */
  padding: 10px; 
  color: #fff; 
  z-index: 1; 
}

  