.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location {
  margin: 10px 0px;
}

.menu-bnt{
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;
}

.menu-line{
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 3px;
}


.menu{
  background: rgba(74, 74, 74, 0.54);
  backdrop-filter: blur(32.3px);
  /* Note: backdrop-filter has minimal browser support */

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.delete-btn{
  position: absolute;
  top: 14px;
  right: 6px;
  cursor: pointer;
}
.delete-btn>.l1{
  transform: 
    translate(0px, 2px) 
    rotate(405deg);
}
.delete-btn>.l2{
  transform: 
    translate(0px, -2px) 
    rotate(135deg);
}

.search-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(217, 217, 217, 0.11);
  padding: 30px;
  border-radius: 24px;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}