body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  margin: 10px 0px;
}

.menu-bnt{
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;
}

.menu-line{
  width: 30px;
  height: 4px;
  background: #1e1e1e;
  border-radius: 3px;
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 100%;
}


.box1 {
  width: 9em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;

  background: rgba(16, 16, 16, 0.1);
  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
}
.p1{
  font-size: 10px;
  font-weight: 800;
}
.p2{
  font-size: 15px;
}
.box-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}
