@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: Inter,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: linear-gradient(190deg, #2186E2, #8AD2FA);
  color: white;
}

code {
  font-family: Inter, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  margin: 10px 0px;
  z-index: 100;
}


.box1 {
  width: 16em;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;

  background: rgba(16, 16, 16, 0.1);
  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
}
.p1{
  font-size: 1em;
  font-weight: 800;
}
.p2{
  font-size: 2em;
}
.box-holder {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  flex: auto;
}

HR {
  flex: 30%;
  width: 10%; 
  height: auto;
  margin: auto;
  white-space: nowrap; /* Prevent wrapping of items */
  position: relative; 

  background: rgba(16, 16, 16, 0.1);
  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
}